root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('./images/moviereel.jpeg');
}

.movie-section {
  background-color: rgb(29, 26, 26);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 3rem;
  padding: 1rem;
  border: solid rgb(104, 55, 9) 10px;
  text-align: justify;
}

.title {
  margin-bottom: 0rem;
  color: rgb(230, 202, 112);
  text-align: center;
  font-size: 4rem;
  background: rgb(104, 55, 9);
  margin-bottom: 1.5rem;
  border-radius: 50%;
  padding: 1rem;
  width: 85%;
  width: 100%;
}

.poster {
  background-image: url('./images/moviereel.jpeg');
  padding: 1rem;
}

.poster-border {
  background: rgb(29, 26, 26);
  border: solid black 6px;
}

.overview {
  line-height: 1.5;
  padding-bottom: 2rem;
  color: rgb(29, 26, 26);
  background: rgb(230, 202, 112);
  border: solid rgb(104, 55, 9) 5px;
  padding: 3.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(145, 76, 29);
}
